extends includes/base.pug

block vars
	- var lang = 'en';
	- var siteTitle = 'Dashboard';
	- var favicon = "@img/favicon/favicon.png";

block styles
	link(rel="shortcut icon" href=favicon type="image/x-icon")
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

block other-content 
	include components/sidebar

block content
	include components/content

block scripts