// Colors Project
$c-white: #fff;
$c-black: #000;
$c-main: #292d32;
$c-body-bg: #fafbff;
$c-version: #838383;
$c-link-text: #9197b3;
$c-link-active-fill: #5932ea;
$c-user-position: #757575;
$c-table-subtitle: #16c098;
$c-table-text: #b5b7c0;
$c-table-search-fill: #f9fbff;
$c-table-search-outline: #e7e7e7;
$c-box-shadow: rgba(
	$color: #e2ecf9,
	$alpha: 0.5,
);
$c-table-divider: #eeeeee;
$c-table-status-active-text: #008767;
$c-table-status-active-fill: rgba(
	$color: #16c098,
	$alpha: 0.38,
);
$c-table-status-inactive-text: #df0404;
$c-table-status-inactive-fill: #ffc5c5;
$c-table-pagination-bg: #f5f5f5;
