// Const Fonts
// Font Sizes
$fz-content: 14px; // base 14px = 1rem
$fz-26px: 1.8571rem;
$fz-10px: 0.7143rem;
$fz-12px: 0.8571rem;
$fz-24px: 1.7143rem;
$fz-22px: 1.5714rem;
// Line Height
$lh-150: 1.5;
// Font Weight
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;